.about{ 
    padding: 60px 0;
    .about-img{
        position: relative;
        width: 100%;
        .img-1, .img-2{
            border-radius: 15px;
            width: 70%;
            overflow: hidden;
            box-shadow: 0px 0px 30px  rgba($color: rgb(59, 63, 130), $alpha: 0.09);
        }
        .img-2{
            position: absolute;
            top: 40%;
            right: 10%;
            .play-button{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .circle{
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.2);
                    line-height: 70px;
                    height: 70px;
                    width: 70px;
                    color: #fff;
                    display: inline-block;
                    text-align: center;
                }
            }
        }
        .award-icon{
            text-align: center;
            padding: 15px 30px;
            background: var(--white-color);
            box-shadow: 0px 0px 50px rgba($color: rgb(59, 63, 130), $alpha: 0.10);
            border-radius: 10px;
            display: inline-block;
            position: absolute;
            bottom: -30%;
            left: 8%;
            .star{
                margin-bottom: 20px;
                .img{
                    width: 60px;
                    position: relative;
                    .icon{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: var(--white-color);
                        font-size: 25px;
                        &::before{
                            content: "\e6a0";
                        }
                    }
                }
            }
            h6{
                font-size: 18px;
                font-weight: 600;
                line-height: 1.5;
                margin: 0;
                color: var(--text-color);
            }
            p{
                font-size: 15px;
                color: var(--text-color-300);
                font-weight: 400;
                line-height: 2;
                margin: 0;
            }
        }
    }
    .about-con{
        padding-left: 50px;
        span{
            display: inline-block;
            background-color: var(--bg-color-200);
            border-radius: 30px;
            padding: 8px 20px;
            font-size: 14px;
            color: var(--text-color);
        }
        h2{
            margin-bottom: 20px;
            font-weight: 800;
            line-height: 1.6;
            font-size: 40px;
            color: var(--text-color);
            span{
                font-size: 40px;
                font-weight: 800;
                background-image: var(--gradient-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                padding: 0;
            }
        }
        ul{
            margin-top: 20px;
            li{
                margin-top: 10px;
                span{
                    margin-right: 20px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 50%;
                    padding: 0;
                    margin-bottom: 0;
                    font-size: 12px;
                    display: inline-block;
                    .fas{
                        font-weight: 900;
                        font-family: "Font Awesome 5 Free";

                    }
                }
            }
        }
    }
}