    header{
    width: 100%;
    position: absolute;
    z-index: 100;
    .logo{
        width: 70px;
    }
    .toggle-menu{
        display: block;
        width: 40px;
        height: 40px;
        margin-left: auto;
        text-align: center;
        line-height: 40px;
        color: var(--white-color);
        font-size: 18px;
        border: 1px solid var(--bg-color);
        border-radius: 3px;
        display: none;
        @media(max-width:767.99px){
            display: block;
        }
    }
    nav{
        position: relative;
        margin-left: auto;
        ul{
            display: flex;
            li{
                a{
                    display: block;
                    font-size:14px;
                    font-weight: 500;
                    padding: 15px 17px;
                    margin: 8px;
                    color: var(--white-color);
                    transition: all ease 0.4s;
                }
            }
            li.dropdown{
                position: relative;
                ul.dropdown-menu{
                    position: absolute;
                    flex-direction: column;
                    min-width: 200px;
                    padding: 20px 0px;
                    border-radius: 5px;
                    background-color: var(--white-color);
                    box-shadow: var(--shadow);
                    opacity: 0;
                    visibility: hidden;
                    li{
                        a{
                            color: #51535f;
                            font-weight: 400;
                            font-size: 13px;
                            padding: 10px 25px;
                            margin: 0px;
                            &:hover{
                                background:#f5f5f5;
                            }
                        }    
                    }
                }
                &:hover ul.dropdown-menu{
                    visibility:visible;
                    opacity: 1;
                    transition: all ease 0.4s;
                }
                .sub-dropdown a{
                    i{
                        float: right;
                        line-height: 1.5;
                    }
                }
            }       
        }
        @media(max-width:767.99px){
            display: none;
            position: absolute;
            width: 100%;
            top: 60px;
            left: 0;
            right: 0;
            background-color: var(--white-color);
            box-shadow: var(--shadow);
            padding: 20px;
            ul{
                flex-direction: column;
                text-align: center;
                li{
                    a{
                        padding: 8px 10px;
                        margin: 0;
                    }
                }
            }
        }
    }
    .social-icon{
        position: relative;
        padding-left: 20px;
        &::after{
            position: absolute;
            content: '';
            width: 1px;
            height: 20px;
            background-color: var(--bg-color-200);
            top: 50%;
            left: 0;
            transform:translateY(-50%);
        }
        ul{
            display: flex;
            li{
                a{
                    display: block;
                    font-size: 13px;
                    margin: 10px;
                    color: var(--white-color);
                }
            }

        }
        @media(max-width:991.99px){
            display: none;
        }
    }
    @media(max-width:991.99px){
        padding: 10px 0px;
        .container{
            position: relative;
        }
    }
}
.open-menu{
    display: block;
}